extends ./layout/index

block contenido
    main
        .container.pt-5
            .row.mt-5.mb-5.col.justify-content-center
                .col-md-10.mb-1
                    h2.d-block.w-100.text-center Nuestros destinos
            include ./layout/bloque-destinos