extends ./layout/index

block contenido
    main
        .container.pt-5
            .row.mt-5.mb-5
                .col-md-6.mb-1
                    img.container-img(src="img/nosotros2.jpg", alt="imagen sobre nosotros")
                .col-md-6.mb-1.d-flex.align-items-center
                    .columna-texto.p-5
                        h2 Viaja a donde quieras
                        p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words
                        button.btn.btn-principal.btn-block Ver Destinos
        #about
            .container
                .row.mt-3.pt-5.pb-5.justify-content-center
                    .col-md-3.p-5
                        i.fas.fa-plane-departure.icono.mb-3
                        h3.mb-3 Flota unica
                        p There are many variations of passages of Lorem Ipsum available
                    .col-md-3.p-5
                        i.fas.fa-tags.icono.mb-3
                        h3.mb-3 Precios
                        p There are many variations of passages of Lorem Ipsum available
                    .col-md-3.p-5
                        i.fas.fa-calendar-day.icono.mb-3
                        h3.mb-3 Fechas
                        p There are many variations of passages of Lorem Ipsum available
                