header
    .navegacion
        nav.navbar.navbar-expand-lg.navbar-light.container.fixed-top(style="background-color: #fff;")
            a.navbar-brand(href='/')
                img.d-inline-block.align-top.fixed(src="img/icono.png" width='30' height='30' alt='logo')
                |         Trip
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.ml-auto
                    li.nav-item
                        a.nav-link(href='/destinos') Destinos
                    li.nav-item
                        a.nav-link(href='/nosotros') Nosotros
                    li.nav-item
                        a.nav-link(href='/opiniones') Opiniones
                    li.nav-item
                        a.nav-link(href='/contacto') Contacto